.grid {
    display: grid;
    grid-template-columns:repeat(2 ,1fr);
    gap: 20px;
  
}

.imagem {
    /* Da linha 1 até linha 2 */
    grid-column: 1 ;
}

.info {
    display: grid;
    place-items: center center;
    
    /* Vai alinhar no inicio vertical do proprio bloco*/
    align-self: start;
    gap: 30px;
    
}


.titulo {
    grid-column: 1 / -1;
    align-self: center;
}


body {
    font: arial ;
    margin: 40px;
}


h1 {
 font-size: 48px;
 text-align: left;
}

h1, p {
    margin: 0;
}

p, span {
    font-size: 30px;
}

.comprar {
    background: #a8f;
    color: #103;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    
  }

.preco {
    background-color: gray;
    border-radius: 4px;
   

}

img {
    max-width: 100%;
    border-radius: 4px;
  }